[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ayaanj
[access "refs/for/refs/*"]
	read = group user/ayaanj
	push = group user/ayaanj
	label-Code-Review = -2..+2 group user/ayaanj
	label-Verified = -1..+1 group user/ayaanj
	rebase = group user/ayaanj
	removeReviewer = group user/ayaanj
	submit = group user/ayaanj
[access "refs/heads/*"]
	read = group user/ayaanj
	create = group user/ayaanj
	push = +force group user/ayaanj
	pushMerge = group user/ayaanj
[access "refs/tags/*"]
	push = +force group user/ayaanj
	pushTag = group user/ayaanj
	pushSignedTag = group user/ayaanj
